<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather info </title>
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima&family=Merriweather:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="title">
     <div class="input">


    <form class="inputform" action="/" method="post">

      <legend for="CityName">City Name</legend>
        <input id="City_Input" class="form-control form-control-lg" type="text" name="CityName">
          </form>

           </div>
          <div>
                <video src="CSS/pexels-miguel-á-padriñán-6772135.mp4" loop muted autoplay/>
          </div>
          </div>

   <script type="text/javascript" src="app.js">

   </script>
  </body>
</html>
